<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <!--
        The Java compiler hides Enum constructors, so to instantiate one as a Spring bean,
        we need to use the enum valueOf static method as a factory method.
        Ref: https://robertmaldon.blogspot.ie/2007/05/creating-spring-bean-from-java-5-enum.html
    -->
    <bean id="weightInKilograms" class="ie.cit.brian.planets.Planets" factory-method="valueOf" >
        <constructor-arg>
            <value>EARTH</value>
        </constructor-arg>
    </bean>





    <!--create bean from PoundConversion.class-->
    <bean id="treeMap" class="ie.cit.brian.planets.PoundConversion"/>

    <!--create bean from StoneConversion.class-->
    <bean id="enumMap" class="ie.cit.brian.planets.StoneConversion"/>

    <!--create bean from KilogramConversion.class-->
    <bean id="hashMap" class="ie.cit.brian.planets.KilogramConversion"/>


    <!--1. Program using dependency injection using an XML file -->
    <!--create bean from CalcInKilograms.class-->
    <bean id="kilograms" class="ie.cit.brian.calculations.CalcInKilograms" lazy-init="false">
        <!--
            Setter-based Dependency Injection
            @see CalcInKilograms#setPlanetHashMap
        -->
        <property name="planetHashMap" ref="hashMap"/>
    </bean>


    <!--create bean from CalcInPounds.class-->
    <bean id="pounds" class="ie.cit.brian.calculations.CalcInPounds">
        <!-- @see CalcInPounds#setPlanetTreeMap -->
        <property name="planetTreeMap" ref="treeMap"/>
    </bean>


    <!--create bean from CalcInStone.class-->
    <bean id="stone" class="ie.cit.brian.calculations.CalcInStone">
        <!--@see CalcInStone#setPlanetEnumMap -->
        <property name="planetEnumMap" ref="enumMap"/>
    </bean>






    <!--create bean from ScreenWriter.class-->
    <bean id="screen" class="ie.cit.brian.writers.ScreenWriter" />

    <!--crete a bean DataFileWriteriter.class-->
    <bean id="file" class="ie.cit.brian.writers.DataFileWriter" />


    <!--Create bean from Main class. -->
    <bean id="calcbean" class="ie.cit.brian.app.Main" lazy-init="false">

        <!--Comment / Un-Comment Options for 'Calculation' and 'Writer'-->

        <!-- Calculation Options -->
        <!--cause setCalculateType (ICalculate <CalcInKilograms>) to be called-->
        <property name="calculateType" ref="kilograms" />

        <!--cause setCalculateType (ICalculate <CalcInPounds>) to be called-->
        <!--<property name="calculateType" ref="pounds" />-->

        <!--cause setCalculateType (ICalculateCalcInStone>) to be called-->
        <!--<property name="calculateType" ref="stone" />-->


        <!-- Writer Options -->
        <!--cause setWriterType (IWriter <ScreenWriter>) to be called-->
        <property name="writerType" ref="screen" />

        <!--cause setWriterType (IWriter <DataFileWriter>) to be called-->
        <!--<property name="writerType" ref="file"/>-->

    </bean>


</beans>







