<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <!--
        The Java compiler hides Enum constructors, so to instantiate one as a Spring bean,
        we need to use the enum valueOf static method as a factory method.
        Ref: https://robertmaldon.blogspot.ie/2007/05/creating-spring-bean-from-java-5-enum.html
    -->
    <bean id="weightInKilograms" class="ie.cit.brian.planets.calculations.Planets" factory-method="valueOf" >
        <constructor-arg>
            <value>EARTH</value>
        </constructor-arg>
    </bean>


    <bean id="hashMap" class="ie.cit.brian.planets.calculations.PlanetHashMap"/>

    <bean id="treeMap" class="ie.cit.brian.planets.calculations.PlanetTreeMap"/>

    <bean id="enumMap" class="ie.cit.brian.planets.calculations.PlanetEnumMap"/>


    <!--create bean from CalcInKilogramsrams.class-->
    <bean id="kilograms" class="ie.cit.brian.planets.calculations.CalcInKilograms" lazy-init="false">
        <property name="planetMap" ref="hashMap"/>
    </bean>

    <!--create bean from CalcInPoundsunds.class-->
    <bean id="pounds" class="ie.cit.brian.planets.calculations.CalcInPounds">
        <property name="planetTreeMap" ref="treeMap"/>
    </bean>

    <!--create bean from CalcInPoundsunds.class-->
    <bean id="stones" class="ie.cit.brian.planets.calculations.CalcInStone">
        <property name="planetEnumMap" ref="enumMap"/>
    </bean>






    <!--create bean from ScreenWriter.class-->
    <bean id="screen" class="ie.cit.brian.planets.writers.ScreenWriter" />

    <!--crete a bean DataFileWriteriter.class-->
    <bean id="file" class="ie.cit.brian.planets.writers.DataFileWriter" />



    <!--create bean from Main class-->
    <bean id="calcbean" class="ie.cit.brian.planets.app.Main" lazy-init="false">


        <!--cause setCalculateType (ICalculate <CalcInPounds>) to be called-->
        <!--<property name="calculateType" ref="pounds" />-->

        <!--cause setCalculateType (ICalculate <CalcInKilograms>) to be called-->
        <!--<property name="calculateType" ref="kilograms" />-->

        <!--cause setCalculateType (ICalculaCalcInStoneones>) to be called-->
        <property name="calculateType" ref="stones" />


        <!--cause setWriterType (IWriter <ScreenWriter>) to be called-->
        <property name="writerType" ref="screen" />


        <!--cause setWriterType (IWriter <DataFileWriter>) to be called-->
        <!--<property name="writerType" ref="file"/>-->

    </bean>




</beans>